<div class="form-group" *ngIf="itemValue !== 'undefined'">
  <div class="row">
    <div class="col">
      <label>{{itemKey | titlecase}}</label>
    </div>
    <div class="col-2">
      <div *ngIf="deleteEnabled" (click)="onDelete()"><h6>Delete</h6></div>
    </div>
    <div class="col-2">
      <div (click)="onEdit()"><h5>Edit</h5></div>
    </div>
  </div>
  <div [formGroup]="inputForm">
    <form >
      <div >
        <div class="row">
          <div class="col">
            <input
            type="text"
            class="{{formControlClass}}"
            formControlName="input"
            value="itemValue"
          />
          </div>
        </div>
      </div>
      <div *ngIf="formInvalid">
        <div class="row mt-3">
          <div class="col-2">
            <img src="../../assets/images/Error@3x.png"  alt="invalidForm"  />
          </div>
          <div class="col">
            <p class="p1 error">{{ errorMessage }}</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
