<div class="center-align pt-5">
  <div class="mt-5 mb-5">
    <img src="../../assets/images/User@3x.png" alt="code" width="120" />
    <h1 class="mt-5">
      Start by setting up<br />
      your username
    </h1>
  </div>
  <form [formGroup]="usernameForm" class="p-5">
    <input
      type="text"
      formControlName="username"
      placeholder="Here, please!"
      class="{{ formControlClass }} input-align"
    />
    <div *ngIf="formInvalid">
      <div class="row mt-3 input-align">
        <div class="col-2 ">
          <img
            src="../../assets/images/Error@3x.png"
            alt="invalidForm"
          />
        </div>
        <div class="col">
          <p class="p1 text-left ">{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </form>
  <div class="footer">
    <button (click)="onContinue()" class="px-4">
      <div class="row">
        <div class="col text-left align-self-center">Continue</div>
          <img
            class="img-filter img-height"
            src="../../assets/images/NextWhite@3x.png"
          />
        </div>
    </button>
  </div>
</div>
